*.swp
*.o

/src/usr.sbin/makefs/makefs
/src/usr.sbin/makefs/makefs.exe

/src/gpl/github.com/relan/exfat/dump/dumpexfat
/src/gpl/github.com/relan/exfat/dump/dumpexfat.exe
/src/gpl/github.com/relan/exfat/fsck/exfatfsck
/src/gpl/github.com/relan/exfat/fsck/exfatfsck.exe
/src/gpl/github.com/relan/exfat/label/exfatlabel
/src/gpl/github.com/relan/exfat/label/exfatlabel.exe
/src/gpl/github.com/relan/exfat/mkfs/mkexfatfs
/src/gpl/github.com/relan/exfat/mkfs/mkexfatfs.exe
/src/gpl/github.com/relan/exfat/attrib/exfatattrib
/src/gpl/github.com/relan/exfat/attrib/exfatattrib.exe

/src/makefs
/src/exfat

/src/makefs.diff
